# Remove environment variables
# This file is used to specify the dependencies for the project.
# It is used by pip to install the required packages.
# You can install the dependencies using the command:
# pip install -r requirements.txt
# You can also use pipenv or poetry to manage dependencies.
